/* Geral */
* {
    font-family: 'Asap', sans-serif;
    font-weight: normal;
}
h1 {
    text-transform: uppercase;
    font-family: 'Flamenco', cursive;
    margin: 0 auto;
    /* font-weight: normal; */
    font-size: 30px;
}
h2 {
    font-family: 'Flamenco', cursive;
    width: 100%;
    font-size: 30px;
    /* font-weight: normal; */
}
body {
    margin: 0;
}

@media (max-width: 320px) {
    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 15px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }
    
    body {
        margin: 0;
    }
}

/* Navegacao */
nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    font-size: 12px;
    margin-top: 15px;
    align-items: center;
}

nav ul {
    padding: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
    nav {
        background-color: #102E49;
        width: 100%;
        justify-content: space-around;
        position: static;
        font-size: 10px;
        margin: 0;
    }
}

@media (max-width: 320px) {
    nav {
        background-color: #102E49;
        display: block;
        width: 100%;
        justify-content: space-around;
        position: static;
        font-size: 10px;
        margin: 0;
    }
}

nav div {
    display: flex;
    align-items: center;
}

@media (max-width: 320px) {
    nav div {
        display: block;
        width: 100%;
        justify-content: space-around;
        font-size: 10px;
        padding: 10px;
    }
}

nav li {
    display: inline;
    list-style: none;
    padding: 10px;
}

@media (min-width: 320px) and (max-width: 768px) {
    nav li {
        display: inline-block;
    }
}

@media (max-width: 320px) {
    nav li {
        display: block;
        padding: 5px;
    }
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.brand img {
    width: 100px;
}

.quero-agora {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 10px;
    color: #9C7B44;
    break-inside: avoid;
}

@media (max-width: 768px) {
    .quero-agora {
        padding: 5px 2px;
    }
}

/* Header */
header {
    min-height: 85vh;
    background: url(../img/bg-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



header div {
    width: 50%;
    align-items: center;
    color: white;
}

header p {
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: normal;
}

@media (max-width: 320px) {
    header {
        min-height: 50vh;
        background: url(../img/bg-banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header div {
        width: 80%;
        align-items: center;
        color: white;
    }
    header p {
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: normal;
    }
}

header a {
    background-color: #FFDE69;
    color: #9C7B44;
    padding: 10px 30px;
    text-decoration: none;
    transition: 5s all;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
@media (min-width: 320px) and (max-width: 768px) {
    header a {
        font-size: 80%;
        width: 50%;
        padding: 5px;
    }
}
@media (max-width: 320px) {
    header a {
        font-size: 10px;
        width: 50%;
        padding: 5px;
    }
}

header a:hover {
    background-color: tomato;
    color: #FFDE69;
    transition: 1s color;
}

/* Main */

/* Seção Sobre */
.sobre > div {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre div div {
    margin-left: 70px;
    width: 35%;
}

.sobre img {
    width: 100px;
}

/* Seção Passo-a-passo */
.passo-a-passo {
    min-height: 55vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.passo-a-passo div {
    margin: 0 6%;
    display: flex;
    justify-content: space-between;
}

.passo-a-passo div > div {
    display: flex;
    flex-direction: column;
    width: 28%;
    align-items: center; 
}

.passo-a-passo img {
    display: block;
    width: 120px;
}

.passo-a-passo p {
    text-align: center;
    display: block;
}
.passo-a-passo span {
    font-weight: bold;
    display: block;
}

/* Seção Serviços */
.servicos {
    min-height: 100vh;
    background: url(../img/bg-servicos.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicos div {
    display: flex;
    justify-content: space-around;
}

.servicos div div {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: mediumturquoise;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.servicos a {
    display: flex;
    background-color: #FFDE69;
    color: #9C7B44;
    padding: 10px 30px;
    text-decoration: none;
    transition: 5s all;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}

/* Seção Curiosidades */
.curiosidades {
    text-align: center;
    background: url(../img/bg-numeros.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.curiosidades div {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.curiosidades p {
    width: 20%;
}
.curiosidades span {
    font-size: 50px;
    display: block;
    color: #FFDE69;
    font-weight: bolder;
}

.contato {
    background-color: #F4F3F2;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato h2 {
    text-align: center;
    margin: 30px
}
.contato form {
    width: 63vh;
}

.contato div {
    display: flex;
    flex-direction: column;
}

div.dados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.dados form {
    width: inherit;
}

.dados div {
    width: 48%;
}

div input, textarea {
    background-color:#FFEBA9;
    margin-bottom: 2vh;
    margin-top: 1vh;
    padding: 5px;
    border-style: solid;
    border-color: #F5EACF;
    border-width: 1px;
}

.enviar {
    background-color: teal;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    border-width: 1px;
}

/* Newsletter */

.newsletter {
    background-color: #FFDE69;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2%;
    align-items: center;
}

.newsletter h2 {
    text-align: center;
    font-size: 40px;
    color: dimgray;
    font-weight: normal;
}
.newsletter div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.newsletter input {
    background-color: white;
    font-size: 15px;
    padding: 10px;
    width: 300px;
}

.newsletter a {
    background-color: #D92D16;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 50px;
    transition: 1s all;
}

.newsletter a:hover {
    background-color: blueviolet;
    color: black;
    transition: 1s all;
}

/* Footer */
footer {
    background-color: darkslategray;
    padding: 1% 0;
    color: white;
    font-family: 'Flamenco', cursive;
    font-size: 12px;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > div {
    max-width: 960px;
    margin: 0 auto;
}

footer ul li {
    list-style: none;
}

footer a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}

footer p {
    text-transform: uppercase;
}



/* MELL: ao invés de colocar os elementos dessas divs em linha, coloquei-as em colunas. Pra ver o antes e o depois, comente esse estilo */
.info-footer, .redes-sociais-footer {
    flex-direction: column;
}